.browser-only, .standalone-only {
    display: none;
}

@media (display-mode: browser) {
    .browser-only {
      display: block
    }
}

@media (display-mode: standalone) {
    .standalone-only {
      display: block
    }
}