.mode {
    display: none;
}

@media (display-mode: browser) {
    .browser-only {
      display: block
    }
}

@media (display-mode: standalone) {
    .standalone-only {
      display: block
    }
}

@media (display-mode: fullscreen) {
    .fullscreen {
      display: block
    }
}

@media (display-mode: minimal-ui) {
    .minimal-ui {
      display: block
    }
}

@media (display-mode: window-controls-overlay) {
    .window-controls-overlay {
      display: block
    }
}